<!DOCTYPE html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<html>
<body>

{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'admin_dashboard' %}"><img src="https://img.icons8.com/color/48/undefined/admin-settings-male.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-outline-info m-2" href="{% url 'shop_register_list' %}">Shop Reg List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-secondary m-2" href="{% url 'admin_create_shop' %}">Add Shop<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-secondary m-2" href="{% url 'admin_sales_percentage_view' %}">Sales<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn btn-outline-secondary m-2" href="{% url 'all_product_list' %}">All Products<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn btn-outline-secondary m-2" href="{% url 'order_list_view' %}">All Orders<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link btn btn-outline-secondary m-2" href="{% url 'customer_admin' %}">Customer<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-danger btn-sm m-2" href="{% url 'account_logout' %}">Log out<span class="sr-only">(current)</span></a>
              </li>
    
          </ul>
    
        </div>
      </nav>


        <hr>
          <table id="table_id" class="display" style="width:100%">
            <thead>
                <tr>
                  <th>Image</th>
                  <th>Order ID</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Customer</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                 
                </tr> 
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td><img style="height: 80px;" class="" src="{{ object.product.image.url }}" alt=""></td>
                  <td>{{object.order.id}}</td>
                    <td>{{ object.order.updated_at }}</td>
                    <td>{{ object.product.title }}</td>
                    <td>{{ object.order.customer }}</td>
                    <td>{{ object.price|currency }}</td>
                    <td>{{ object.quantity }}</td>
                    <td>{{ object.quantity|multiply:object.price|currency }}</td>
                    <td>{{ object.status }}</td>
                   
                </tr>
                  {% empty %}
                  <li>No objects yet.</li>
              {% endfor %}

            </tbody>
        </table>
  </div>

{% endblock content %}

{% block js %}
<script>

$(document).ready( function () {
    $('#table_id').DataTable(
      {
  columnDefs: [
    { orderable: false, targets: [0,2,3] }
  ],
  order: [[1, 'asc']]
}
    );
} );

</script>

<!-- Always remember to call the above files first before calling the bootstrap.min.js file  -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

{% endblock js %}

</body>
</html>