{% extends "base_.html" %}

    
{% block content %}

<div class="border rounded p-1 m-3">
    <h3>Products Published</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Color</th>
                <th>Material</th>
                <th>Published</th>
          
            </tr>
        </thead>
        <tbody>
            
            {% for object in object_list %}
            <tr>
    
                <td><img style="height: 80px;" src="{{ object.image.url }}" alt=""></td>
                <td>{{object.title}}</td>
                <td>{{object.description}}</td>
                <td>{{object.price}}</td>
                <td>{{object.color}}</td>
                <td>{{object.material}}</td>
                <td>{{object.is_published}}</td>
      
            </tr>

            {% empty %}
            {% endfor %}
           
        </tbody>
    </table>

</div>

{% endblock %}

